body {
    display: flex;
    justify-content:center;
    align-items: center;
    /* 注意这里需要设置高度来查看垂直居中效果 */
    height: 100%;

    background: url(../images/dr_bj.png);
    background-position:center; 
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
#lb_bj{width: 375px;}
#user{
    width: 100%;
    height: 10%;
    background: rgba(255,255,255,0.2);
    padding: 12px 0;
    margin:14px 0;
    font-size: 14px;
    color: #c1c1c1;
    line-height: 0.02rem;
}
.zy_select{
    width: 100%;
    height: 10%;
    background: rgba(255,255,255,0.2);
    padding: 3px 0;
    margin:16px 0;
}
.zy_select img{
    height: 10%;
}
.zy_select select{
    box-sizing:border-box;
    width: 70%;
    height: 10%;
    background: none;
    border: none;
    line-height: 30px;
    margin-left: 3%;
    color: #c1c1c1;
    font-size: 14px;
}
.zy_table{
    margin-top: 5%;
    width: 100%;
    color: #c1c1c1;
    font-size: 14px;
}
.ck_c ul{
    /*list-style: none;*/
}
.ck_c ul div{
    width: 100%;
    height: 100%;
    background-color: gray;
    margin:5% 0;
    line-height: 10%;
    padding: 14px 0;
    color: white;
}

