body {
    display: flex;
    justify-content:center;
    align-items: center;
    /* 注意这里需要设置高度来查看垂直居中效果 */
    height: 100%;

    background: url(../images/dr_bj.png);
    background-position:center; 
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
#lb_bj{width: 0.8rem;}

.yhm_dl,.mm_dl{
    /*float:right;*/
    width: 100%;
    height: 10%;
    background: rgba(255,255,255,0.2);
    padding: 3px 0;
    margin:14px 0;
}
.yhm_dl input,.mm_dl input{
    box-sizing:border-box;
    width: 60%;
    height: 10%;
    background: none;
    border: none;
    line-height: 30px;
    margin-left: 3%;
    color: #c1c1c1;
    font-size: 14px;
}
.but_dl{
    /*float: right;*/
    width: 100%;
    background: #af904a;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    border: 0;
    margin-top: 13%;
    margin-bottom: 0.04rem;
    line-height: 32px;
    font-size: 20px;
    padding: 2% 0 2%;
}

.yhm_dl img,.mm_dl img{
    margin-left: 6px;
}
.forget_password{
    display: block;
    color: #fff;
    margin-left: 0.17rem;
    float: right;
}
.register{
    float: right;
    display: block;
    color: #fff;
    margin-left: 0.04rem;
}