
body {
    display: flex;
    justify-content:center;
    align-items: center;
    /* 注意这里需要设置高度来查看垂直居中效果 */
    height: 100%;

    background: url(../images/dl_bj.png);
    background-position:center; 
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
#lb_bj{width: 50%}
.yhm_dl,.mm_dl{
    width: 100%;
    height: 10%;
    background: rgba(255,255,255,0.2);
    padding: 3px 0;
    margin:14px 0;
}
.yhm_dl input,.mm_dl input{
    box-sizing:border-box;
    width: 60%;
    height: 10%;
    background: none;
    border: none;
    line-height: 30px;
    margin-left: 3%;
    color: #c1c1c1;
    font-size: 14px;
}
.but_dl{
    width: 100%;
    background: #af904a;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    border: 0;
    margin-top: 13%;
    margin-bottom: 0.04rem;
    line-height: 32px;
    font-size: 20px;
    padding: 2% 0 2%;
}

.yhm_dl img,.mm_dl img{
    margin-left: 6px;
}
/*.yhm_dl_gym{height: 10%}*/
.yhm_sr{
    width: 60%;
    box-sizing:border-box;
    background: rgba(255,255,255,0.2);
    height: 10%;
    border: none;
    line-height: 44px;
    padding-top: 2% 0;
    margin:2% 0;
    /*padding-bottom: 3%;*/
    color: #c1c1c1;
    font-size: 24px;
    padding-left: 2%;
    float: left;
}
/*.yhm_sc{height: 100%}*/
.yhm_sr input{
    /*height: 0.02rem;*/
    width: 70%;
    background: none;
    border: none;
    color: #c1c1c1;
    font-size: 14px;
}
#getCaptcha{
    /*height: 0.2rem;*/
    background: #af904a;
    text-align: center;
    height: 100%;
    color: #fff;
    width: 35%;
    border: none;
    font-size: 12px;
    line-height: 44px;
    margin-left: 0;
    cursor: pointer;
    margin: 2% 0;
    float: right;
}
